@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
  font-family: "RagnorFont";
  src: url("../fonts/function-pro/FunctionPro-Book-webfont.woff");
  font-weight: normal;
}

@font-face {
  font-family: "RagnorFont";
  src: url("../fonts/function-pro/FunctionPro-Demi-webfont.woff");
  font-weight: bold;
}

.__cov-progress {
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.3) !important;
}
